main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#map-container
{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#map
{
  position: relative;
  height: 20vw;
}

.geocoder
{
        position:relative;
        z-index:1;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        margin-top: auto;
}
.mapboxgl-ctrl-geocoder { min-width:100%; }
