{% extends "layout.html" %}

{% block title %}
    Run Anywhere
{% endblock %}

{% block main %}

    <div id="map-container">
      <div id="map"></div>
    </div>
    <div id='geocoder' class='geocoder'></div>

    <script>
        // Defines the root of our function, for flexibility
        // See: http://flask.pocoo.org/docs/1.0/patterns/jquery/
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        // Renders a mapbox map
        mapboxgl.accessToken = 'pk.eyJ1IjoibGVvc2FlbmdlciIsImEiOiJjam9wOGVsczkwa2ZzM3FsMWQxdHc2NHZzIn0.2yb_-4yL8nlzA1eEFjDRKw';
        const map = new mapboxgl.Map({
            container: 'map', // References container
            style: 'mapbox://styles/leosaenger/cjop8gvrp2yz42ro2xlwzyhhn', // Custom styling
            center: [-71.116404, 42.374346], // Centered on Cambridge
            zoom: 13.6 // Zoom
        });

        // See user's location
        map.addControl(new mapboxgl.GeolocateControl({
          positionOptions: {
            enableHighAccuracy: true
          },
          trackUserLocation: true
        }));

        let routeNum = 0;

        var geocoder = new MapboxGeocoder({
          accessToken: mapboxgl.accessToken
        });

        map.addControl(geocoder);

        // After the map style has loaded on the page, add a source layer and default
        // styling for a single point.
        map.on('load', function() {
            map.addSource('single-point', {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": []
                }
            });

            map.addLayer({
                "id": "point",
                "source": "single-point",
                "type": "circle",
                "paint": {
                    "circle-radius": 10,
                    "circle-color": "#007cbf"
                }
            });

            // Listen for the `result` event from the MapboxGeocoder that is triggered when a user
            // makes a selection and add a symbol that matches the result.
            geocoder.on('result', function(ev) {
                map.getSource('single-point').setData(ev.result.geometry);
                let position = ev.result.geometry.coordinates;
                $.getJSON($SCRIPT_ROOT + '/get_coords', {
                  lat: position[1],
                  long: position[0],
                }, function(data) {
                  var coords = data;
                  var i;
                  var colors = [
                      '#2C3E50',
                      '#E74C3C',
                      '#ECF0F1',
                      '#3498DB',
                      '#2980B9',
                  ];
                  for (i = 0; i < coords.length; i++) {
                    let id = "route" + routeNum;
                    routeNum++;
                    console.log(coords[i]);
                    map.addLayer({
                        "id": id,
                        "type": "line",
                        "source": {
                            "type": "geojson",
                            "data": {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "LineString",
                                    "coordinates": coords[i]
                                }
                            }
                        },
                        "layout": {
                            "line-join": "round",
                            "line-cap": "round"
                        },
                        "paint": {
                            "line-color": colors[i],
                            "line-width": 4
                        }
                    });
                    map.setPaintProperty(id, 'line-opacity', 70 / 100);
                  }
                });
            });
        });

        // Gets the user's current location, as per: https://developers.google.com/web/fundamentals/native-hardware/user-location/
        // Humanizes Error messages
        function humanizeGeolocationErrorMsg(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    return "User denied the request for Geolocation.";
                case error.POSITION_UNAVAILABLE:
                    return "Location information is unavailable.";
                case error.TIMEOUT:
                    return "The request to get user location timed out.";
                case error.UNKNOWN_ERROR:
                    return "An unknown error occurred."
            }
        }
        window.onload = function displaylines() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        // Pass to Flask route using AJAX
                        $.getJSON($SCRIPT_ROOT + '/get_coords', {
                          lat: position.coords.latitude,
                          long: position.coords.longitude,
                        }, function(data) {
                          var coords = data;
                          var i;
                          for (i = 0; i < coords.length; i++) {
                            let id = "route" + routeNum;
                            routeNum++;
                            console.log(coords[i]);
                            var colors = [
                                '#2C3E50',
                                '#E74C3C',
                                '#ECF0F1',
                                '#3498DB',
                                '#2980B9',
                            ];
                            map.addLayer({
                                "id": id,
                                "type": "line",
                                "source": {
                                    "type": "geojson",
                                    "data": {
                                        "type": "Feature",
                                        "properties": {},
                                        "geometry": {
                                            "type": "LineString",
                                            "coordinates": coords[i]
                                        }
                                    }
                                },
                                "layout": {
                                    "line-join": "round",
                                    "line-cap": "round"
                                },
                                "paint": {
                                    "line-color": colors[i],
                                    "line-width": 4
                                }
                            });
                            map.setPaintProperty(id, 'line-opacity', 70 / 100);
                          }
                        });

                        // Add those coordinates to a layer on the map

                    }, function(error) {
                        handleNotifications(map, map.getCenter(), humanizeGeolocationErrorMsg(error));
                    }
                )
            } else {
                handleNotifications(map, map.getCenter(), "Your browser doesn't support html5 geolocation");
            }
        }

    </script>
{% endblock %}
