<!DOCTYPE html>
<html lang="en" class="splash">
<head>
  <title>Run Anywhere</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="splash">

<div>
  <button type="button" id = "button" class="btn btn-secondary btn-lg">Large button</button>
</div>

</body>
</html>
